html,body,.Page-Content{
    margin: 0;
    height: auto;
    width: 100%;
    padding:0;
}
.moveDown{
    position:relative;
    top: 5%;
}
.hero{
  position: absolute;
  margin: auto;
  height: 350px;
  width: 100%;
  overflow: hidden;
}
.logo{
    margin: auto;
    height:100%;
    width: 100%;
    background-image: url("/pics/ShieldLogo.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
}
.name{
    margin:auto;
    position: absolute;
    text-align: center;
    width: 80%;
    top:140px;
    left:0;
    right:0;
    font-family: 'Anton', sans-serif;
    font-size: 75px;
}
#donate{
  margin:auto;
  width:50%;
  font-size: 25px;
  background-color: #3498db;
  border: 3px solid black;
  color: black;
  text-align: center;
  cursor: pointer;
}
.CurrentEvents, .OurStatement, .ContactUs, .noFacebook, .OurMedia{
    margin: auto;
    height:44px;
    width:500px;
    background-color: #C6DDF0;
}
#Home{
    height: 200%;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: #F4F8FC;
}
#About{
    height: auto;
    font-family: 'Open Sans', sans-serif;
    background-color: #F4F8FC;
}
#Contact{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: #F4F8FC;
    height:auto;
}
.contactForm{
    background-color: white;
    margin:auto;
    height: 500px;
    width: 500px;
}
#Media{
    display: none;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: #A3B5C5;
}
.photoAlbum{
  margin: auto;
  background-color: white;
  height:500px;
  width:500px;
}
.statement{
    padding:25px;
    font-size: 10px;
}
.fb-page{
    position:relative;
}
.page{
    top:344px;
    width:70%;
    height:100vh;
    margin: auto;
    position: relative;
    left: 0;
    right: 0;
}
.pic{
    margin: auto;
    position: relative;
    height:250px;
    width:250px;
    background-color: grey;
    margin-top: 5%;
    margin-bottom: 5%;
}
#Alison, #Donna{
    margin: auto;
    position: relative;
    height: auto;
}
#Alison{
    background-color: #A3B5C5;
}
#alisonpic{
  background-image: url('../pics/alison.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
#Donna{
    background-color: #F4F8FC;
}
#donnapic{
  background-image: url('../pics/donna.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}
#volunteers{
  padding:10%;
  width:100%;
  background-color: #A3B5C5;
  cursor: pointer;
  text-align: center;
  font-size: 30px;
}
.parent{
    margin: 0;
    height: 275px;
    overflow: hidden;
}
.missionStatement{
    margin: auto;
    width: 500px;
    height:auto;
    position: relative;
    text-align: center;
    background-color: white;
}
#missionStatementParagraph{
  margin: auto;
  position: relative;
  padding:2%;
}
#logoStatement{
  margin: auto;
  margin-bottom: 5%;
  height: 100px;
  width: 50%;
  background-image: url("/pics/ShieldLogoMobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.person{
  position: relative;
  display: flex;
}
.description{
    margin: auto;
    position:relative;
    width:50%;
    text-align: justify;
}
@media only screen and (max-width: 1080px) {
    .hero{
      position: fixed;
      top:8%;
      height:40%;
      background-image: url("/pics/ShieldLogoMobile.png");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: contain;
    }
    .OurStatement{
      width:100%;
    }
    .missionStatement{
      width:auto;
      position: absolute;
      text-align: center;
      background-color: white;
    }
    #volunteers{
      width:auto;
    }
    .CurrentEvents, .ContactUs, .noFacebook, .OurMedia{
      width:100%;
    }
    .person{
      margin:auto;
      height:auto;
      position:relative;
      display:list-item;
      padding-bottom: 1%;
    }
    .pic{
      margin: auto;
      position: relative;
      width:80%;
      background-color: white;
    }
    h2{
      text-align: center;
    }
    .description{
      width: 85%;
    }
    .page{
      margin: 0;
      position: relative;
      width:100%;
      background-color: black;
      height: auto;
      min-height: 100%;
      overflow-x: hidden;
    }
    .logo{
      display: none;
    }
    .name{
      display: none;
    }
    .logo{
      width:100%;
    }
}
